<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>결과 조회</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <table border="">
        <tr>
            <td colspan="5">
                <h2>당행/다른기관이체</h2>
            </td>
        </tr>
        <tr>
            <td colspan="5">이미지?</td>
        </tr>
        <tr>
            <td colspan="5">즉시이체 처리가 완료되었습니다.</td>
        </tr>
        <tr>
            <td colspan="5">거래완료 후 처리결과 조회 및 정상 신청등록 여부를 확인하여 주시기 바랍니다.</td>
        </tr>
        <tr>
            <td>
                <button type="button">가계부전송</button>
            </td>
            <td>
                <button type="button">BAND 공유</button>
            </td>
            <td>
                <button type="button">자주쓰는 입금계좌 등록</button>
            </td>
            <td>
                <button type="button">이체목록 인쇄</button>
            </td>
            <td>
                <button type="button">타행입금계좌 잔액조회</button>
            </td>
        </tr>
    </table>
    <table border="">
        <tr>
            <td colspan="4">입금내역</td>
            <td>이체 후 출금계좌 잔액 : </td>
            <td th:text="${result.myaccout != 0 ? #numbers.formatInteger(result.myaccout, 3, 'COMMA')+'원':'0원'}"></td>
        </tr>
        <tr>
            <td>결과</td>
            <td>출금계좌</td>
            <td>입금은행<br />입금계좌</td>
            <td>받는분</td>
            <td>이체금액(원)</td>
            <td>받는통장메모</td>
        </tr>
        <tr>
            <td>정상</td>
            <td th:text="${result.myacc}"></td>
            <td>[[${result.mysendbank}]]<br />[[${result.mysendacc}]]</td>
            <td th:text="${result.myaccioname}"></td>
            <td th:text="${#numbers.formatInteger(result.myaccbalance, 3, 'COMMA')}"></td>
            <td th:text="${result.myaccmemo}"></td>
        </tr>
        <tr>
            <td colspan="3">
                <a th:href="@{/banking/acchistory}">이체결과조회</a>
            </td>
            <td colspan="3">
                <a th:href="@{/banking/inout}">계속이체</a>
            </td>
        </tr>
    </table>
</body>
</html>