<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
	<link rel="stylesheet" href="../css/bootstrap.css">
    <title>이체 확인</title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/banking.js}"></script>
</head>
<body>
	<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh; /* 높이를 화면 전체 높이로 설정하여 수직 중앙 정렬 */
    }
	</style>
	<div class="container">
	    <table class="table table-bordered" style="border:1px solid #ccc; text-aling:center" border="">
			<thead>
		        <tr>
		            <td colspan="2">
		                <h2>거래 확인</h2>
		            </td>
		        </tr>
			</thead>
			<tbody>
		        <tr>
		            <td style="width: 150px">(1)거래일자 : </td>
		            <td th:text="${checkData.myaccdate}"></td>
		        </tr>
		        <tr>
		            <td>(2)거래시간 : </td>
		            <td th:text="${checkData.myacctime}"></td>
		        </tr>
		        <tr>
		            <td>(3)출금계좌번호 : </td>
		            <td th:text="${checkData.myacc}"></td>
		        </tr>
		        <tr>
		            <td>(4)입금은행 : </td>
		            <td th:text="${checkData.mysendbank}"></td>
		        </tr>
		        <tr>
		            <td>(5)입금계좌번호 : </td>
		            <td th:text="${checkData.mysendacc}"></td>
		        </tr>
		        <tr>
		            <td>(6)이체금액 : </td>
		            <td th:text="|${#numbers.formatInteger(checkData.myaccbalance, 3, 'COMMA')}원|"></td>
		        </tr>
		        <tr>
		            <td>(7)받는통장메모 : </td>
		            <td th:text="${checkData.myaccioname}"></td>
		        </tr>
		        <tr>
		            <td>(8)내통장메모 : </td>
		            <td th:text="${checkData.myaccmemo}"></td>
		        </tr>
		        <tr>
		            <td colspan="2">
		                <input type="button" class="btn btn-dark form-control" onclick="window.close()" value="요청">
		            </td>
		        </tr>
			</tbody>
	    </table>
	</div>
</body>
</html>