<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
	<link rel="stylesheet" href="../css/bootstrap.css">
    <title></title>
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script type="application/javascript" th:src="@{/js/banking.js}"></script>
</head>
<body>
	<div class="container">
	    <table class="table table-bordered" style="border:1px solid #ccc; text-aling:center" border="">
			<thead>
		        <tr>
		            <td colspan="4">
		                <h2>내 계좌 조회</h2>
		            </td>
		        </tr>
			</thead>
			<tbody>
		        <tr th:each="acc:${accs}" th:id="|myacc${acc.myacc}|">
		            <td style="background-color:#fafafa">계좌번호</td>
		            <td th:text="${acc.myacc}"></td>
		            <td style="background-color:#fafafa">잔액</td>
		            <td th:text="${#numbers.formatInteger(acc.mymoney, 3, 'COMMA')}"></td>
		        </tr>
			</tbody>
	    </table>
	</div>
</body>
</html>